<a href="https://colab.research.google.com/github/AnarHuseynov00/Microsoft-stock-price-prediction-using-SVR-and-LR/blob/master/Project2(SVM_and_LR).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/07/ab/8cd479fba8a9b197a43a0d55dd534b066fb8e5a0a04b5c0384cbc5d663aa/Quandl-3.5.0-py2.py3-none-any.whl
Collecting inflection>=0.3.1
  Downloading https://files.pythonhosted.org/packages/52/c1/36be286d85dbd76527fb613527222a795d7c071da195fa916e7bf3cb03cb/inflection-0.4.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.3)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.2.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.12.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.4.5.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.4.0 quandl-3.5.0

In [0]:
import quandl
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split

In [5]:
df = quandl.get("WIKI/MSFT")
print(df.head())

             Open   High   Low  ...  Adj. Low  Adj. Close   Adj. Volume
Date                            ...
1986-03-13  25.50  29.25  25.5  ...  0.058941    0.064720  1.031789e+09
1986-03-14  28.00  29.50  28.0  ...  0.064720    0.067031  3.081600e+08
1986-03-17  29.00  29.75  29.0  ...  0.067031    0.068187  1.331712e+08
1986-03-18  29.50  29.75  28.5  ...  0.065876    0.066454  6.776640e+07
1986-03-19  28.75  29.00  28.0  ...  0.064720    0.065298  4.789440e+07

[5 rows x 12 columns]

In [6]:
df = df[["Adj. Close"]]
df

            Adj. Close
Date
1986-03-13    0.064720
1986-03-14    0.067031
1986-03-17    0.068187
1986-03-18    0.066454
1986-03-19    0.065298
...                ...
2018-03-21   92.480000
2018-03-22   89.790000
2018-03-23   87.180000
2018-03-26   93.780000
2018-03-27   89.470000

[8076 rows x 1 columns]

In [0]:
forecast_out = 30
df['Prediction'] = df[['Adj. Close']].shift(-forecast_out)

In [8]:
df.head()

            Adj. Close  Prediction
Date
1986-03-13    0.064720    0.078011
1986-03-14    0.067031    0.078589
1986-03-17    0.068187    0.076277
1986-03-18    0.066454    0.074544
1986-03-19    0.065298    0.073388

In [9]:
df.tail()

            Adj. Close  Prediction
Date
2018-03-21       92.48         NaN
2018-03-22       89.79         NaN
2018-03-23       87.18         NaN
2018-03-26       93.78         NaN
2018-03-27       89.47         NaN

In [0]:
X = np.array(df.drop(['Prediction'],1))
X = X[:-forecast_out]

In [0]:
Y = np.array(df['Prediction'])
Y = Y[:-forecast_out]

In [0]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [13]:
#SVM (SVR)
SVR_rbf = SVR(kernel='rbf', C = 1e3, gamma=0.1)
SVR_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=0.1,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [14]:
#test
confidence_svm = SVR_rbf.score(x_test, y_test)
print(confidence_svm)

0.9897957590309014

In [15]:
lr = LinearRegression()
lr.fit(x_train, y_train)
confidence_lr = lr.score(x_test, y_test)
print(confidence_lr)

0.9875755371750361

In [0]:
x_forecast = np.array(df.drop(['Prediction'], 1))[-forecast_out:]

In [17]:
x_forecast

array([[89.83],
       [90.81],
       [92.66],
       [92.  ],
       [92.72],
       [91.49],
       [91.74],
       [94.06],
       [95.42],
       [94.2 ],
       [93.77],
       [92.85],
       [93.05],
       [93.64],
       [93.32],
       [93.86],
       [94.43],
       [96.54],
       [96.77],
       [94.41],
       [93.85],
       [94.18],
       [94.6 ],
       [92.89],
       [93.13],
       [92.48],
       [89.79],
       [87.18],
       [93.78],
       [89.47]])

In [18]:
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)

[92.05054274 93.05606513 94.95424516 94.27705661 95.01580776 93.75377455
 94.01028536 96.39070573 97.78612456 96.53435178 96.09315318 95.14919338
 95.35440203 95.95976756 95.63143371 96.18549707 96.77034173 98.93529301
 99.17128296 96.74982087 96.17523664 96.51383092 96.94476909 95.19023511
 95.43648549 94.76955738 92.00950101 89.3315281  96.10341361 91.68116716]

In [19]:
svm_prediction = SVR_rbf.predict(x_forecast)
print(svm_prediction)

[92.83101941 93.05086618 93.89141419 93.42202636 93.93540361 93.17478065
 93.27768936 94.52153274 93.3998154  94.51843541 94.48214431 94.02832768
 94.16160144 94.44634111 94.31491936 94.50054971 94.47639613 88.46761424
 86.75589886 94.48208629 94.49877    94.51984405 94.40997538 94.05605323
 94.21059503 93.75758696 92.81116717 92.06780831 94.48445203 92.61840072]