In [1]:
import pandas as pd
import csv
import os

In [2]:
filepath = os.getcwd()

In [3]:
op = pd.read_csv(filepath + '\RawData\FiveYearData\\five_year_data_Open.csv')
lo = pd.read_csv(filepath + '\RawData\FiveYearData\\five_year_data_Low.csv')
hi = pd.read_csv(filepath + '\RawData\FiveYearData\\five_year_data_High.csv')
vol = pd.read_csv(filepath + '\RawData\FiveYearData\\five_year_data_Volume.csv')
cl = pd.read_csv(filepath + '\RawData\FiveYearData\\five_year_data_Close.csv')

In [4]:
ticker = 'PFE'
f1 = pd.concat([op['Date'], op[ticker], lo[ticker], hi[ticker], vol[ticker], cl[ticker]], axis=1, sort='true')

In [5]:
newfile = filepath + '\RawData\FiveYearData1_'+ticker+'.csv'

In [6]:
f1.to_csv(newfile, header='false')

In [7]:
data = pd.read_csv(newfile)

In [8]:
data['date'] = pd.to_datetime(data['Date'])

In [9]:
date_start = pd.to_datetime(20171001, format='%Y%m%d')
date_end = pd.to_datetime(2018310, format='%Y%m%d')
print(date_start)

2017-10-01 00:00:00

In [10]:
val = data[(data['date']> date_start) & (data['date']< date_end)]

In [11]:
filename = filepath + "\RawData\parse_PFE.csv"
val.to_csv(filename, header='true')

In [12]:
f1 = pd.read_csv(filepath + "\RawData\PfizerSentiment_6Months.csv")
f2 = pd.read_csv(filepath + "\RawData\parse_PFE.csv")

In [13]:
f1['Date'] = pd.to_datetime(f1['Date'])
f1.head()

        Date    Positve   Negative    Neutral  Total
0 2017-09-09  17.857143   7.142857  75.000000     28
1 2017-09-10  32.222222   3.333333  64.444444     90
2 2017-09-11  35.416667   4.687500  59.895833    192
3 2017-09-12  38.188976   7.480315  54.330709    254
4 2017-09-13  25.625000  10.625000  63.750000    160

In [14]:
f2.head()

,Unnamed: 0,Unnamed: 0.1,Date,PFE,PFE.1,PFE.2,PFE.3,PFE.4,date
0,944,944,2017-10-02,35.67,35.49,36.10,15287990.0,36.07,2017-10-02
1,945,945,2017-10-03,36.02,35.75,36.20,13528203.0,36.14,2017-10-03
2,946,946,2017-10-04,36.18,35.90,36.24,10815755.0,35.96,2017-10-04
3,947,947,2017-10-05,35.88,35.75,36.00,13060859.0,36.00,2017-10-05
4,948,948,2017-10-06,35.99,35.94,36.14,11247289.0,36.05,2017-10-06

In [15]:
#print(f1[f1.Date.isin(f2.date)])
f3 = f1[f1.Date.isin(f2.date)]
print (f3)

          Date    Positve   Negative    Neutral  Total
23  2017-10-02  29.545455   5.000000  65.454545    220
24  2017-10-03  26.506024   9.036145  64.457831    166
25  2017-10-04  22.426471   3.308824  74.264706    272
26  2017-10-05  28.662420   7.643312  63.694268    157
27  2017-10-06  28.455285   4.878049  66.666667    123
30  2017-10-09  17.283951   4.938272  77.777778    162
31  2017-10-10  35.388128   4.337900  60.273973    438
32  2017-10-11  35.135135   4.504505  60.360360    222
33  2017-10-12  24.858757   5.084746  70.056497    177
34  2017-10-13  25.123153   4.433498  70.443350    203
37  2017-10-16  27.319588   4.123711  68.556701    194
38  2017-10-17  28.448276   1.724138  69.827586    232
39  2017-10-18  22.374429   3.652968  73.972603    219
40  2017-10-19  28.504673   4.205607  67.289720    214
41  2017-10-20  23.622047   6.299213  70.078740    254
44  2017-10-23  33.526012   5.202312  61.271676    173
45  2017-10-24  26.111111   6.111111  67.777778    180
46  2017-10-25  23.788546   4.405286  71.806167    227
47  2017-10-26  20.809249   3.468208  75.722543    173
48  2017-10-27  24.242424   7.878788  67.878788    165
51  2017-10-30  32.456140   5.701754  61.842105    228
52  2017-10-31  29.237288   8.474576  62.288136    472
53  2017-11-01  18.644068   5.508475  75.847458    236
54  2017-11-02  19.767442   9.689922  70.542636    258
55  2017-11-03  24.226804   3.092784  72.680412    194
58  2017-11-06  25.888325   3.045685  71.065990    197
59  2017-11-07  27.860697   3.482587  68.656716    201
61  2017-11-09  26.595745   4.255319  69.148936    188
62  2017-11-10  28.372093   3.255814  68.372093    215
65  2017-11-13  33.454545   3.272727  63.272727    275
..         ...        ...        ...        ...    ...
138 2018-01-25  18.674699   7.228916  74.096386    166
139 2018-01-26  35.172414   6.551724  58.275862    290
142 2018-01-29  28.148148   6.666667  65.185185    270
143 2018-01-30  27.343750  11.132812  61.523438    512
144 2018-01-31  20.000000   8.800000  71.200000    250
145 2018-02-01  21.468927   7.344633  71.186441    177
146 2018-02-02  22.598870   9.039548  68.361582    177
149 2018-02-05  21.229050   8.938547  69.832402    179
150 2018-02-06  23.602484   6.211180  70.186335    161
151 2018-02-07  28.947368   8.552632  62.500000    152
152 2018-02-08  23.566879  10.828025  65.605096    157
153 2018-02-09  20.125786   8.176101  71.698113    159
156 2018-02-12  32.291667   3.645833  64.062500    192
157 2018-02-13  28.275862   8.275862  63.448276    145
158 2018-02-14  29.139073   3.973510  66.887417    151
159 2018-02-15  27.868852  11.475410  60.655738    183
160 2018-02-16  30.635838   8.670520  60.693642    173
164 2018-02-20  30.201342   5.369128  64.429530    149
165 2018-02-21  30.281690   7.042254  62.676056    142
166 2018-02-22  30.569948   7.253886  62.176166    193
167 2018-02-23  34.594595   4.864865  60.540541    185
170 2018-02-26  25.454545   7.272727  67.272727    165
171 2018-02-27  25.146199   9.356725  65.497076    171
172 2018-02-28  30.357143   6.547619  63.095238    168
173 2018-03-01  30.344828   2.758621  66.896552    145
174 2018-03-02  32.142857   5.102041  62.755102    196
177 2018-03-05  26.785714   7.142857  66.071429    168
178 2018-03-06  30.246914   7.407407  62.345679    162
179 2018-03-07  24.725275   6.593407  68.681319    182
180 2018-03-08  24.043716   4.371585  71.584699    183

[108 rows x 5 columns]

In [16]:
f3.reset_index(drop=True, inplace=True)
f2.reset_index(drop=True, inplace=True)

In [17]:
f4 = pd.concat([f2, f3], axis = 1, sort='true')

In [18]:
f4.head()

,Unnamed: 0,Unnamed: 0.1,Date,PFE,PFE.1,PFE.2,PFE.3,PFE.4,date,Date,Positve,Negative,Neutral,Total
0,944,944,2017-10-02,35.67,35.49,36.10,15287990.0,36.07,2017-10-02,2017-10-02,29.545455,5.000000,65.454545,220.0
1,945,945,2017-10-03,36.02,35.75,36.20,13528203.0,36.14,2017-10-03,2017-10-03,26.506024,9.036145,64.457831,166.0
2,946,946,2017-10-04,36.18,35.90,36.24,10815755.0,35.96,2017-10-04,2017-10-04,22.426471,3.308824,74.264706,272.0
3,947,947,2017-10-05,35.88,35.75,36.00,13060859.0,36.00,2017-10-05,2017-10-05,28.662420,7.643312,63.694268,157.0
4,948,948,2017-10-06,35.99,35.94,36.14,11247289.0,36.05,2017-10-06,2017-10-06,28.455285,4.878049,66.666667,123.0

In [19]:
Consolidated_file = filepath + "\RawData\PfizerStock_Sentiment1_6M.csv"
f4.to_csv(Consolidated_file)