In [1]:
import quandl
import datetime
import pandas

In [11]:
df = quandl.get("NSE/MRF", authtoken="W2gL6N2N-DhBQeGxB3Ly", start_date="2013-01-01", end_date="2018-05-18")

In [12]:
df.head()

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
Date,,,,,,,
2013-01-01,12927.0,13380.00,12879.85,13350.0,13243.25,20619.0,2695.81
2013-01-02,13312.4,13435.00,13256.00,13295.0,13316.20,12217.0,1631.71
2013-01-03,13351.0,13365.95,13124.15,13273.0,13279.10,10213.0,1353.29
2013-01-04,13240.0,13418.40,13221.30,13365.0,13361.10,7307.0,973.81
2013-01-07,13375.0,13439.95,13265.00,13295.0,13288.80,7509.0,1001.57

In [13]:
df.count()

Open                    1331
High                    1331
Low                     1331
Last                    1331
Close                   1331
Total Trade Quantity    1331
Turnover (Lacs)         1331
dtype: int64

In [14]:
today = datetime.date.today()
stock_name = 'mrf'
file_name = stock_name+'_stock_%s.csv' % today
df.to_csv(file_name)